  /* html {
    color: black !important;
    font-family: muli, sans-serif;
    letter-spacing: -0.5px;
    scroll-behavior: smooth;
  } */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: none;
}

.pop-cart-products::-webkit-scrollbar,
.shipping-cart-products::-webkit-scrollbar,
.cart-modal-container::-webkit-scrollbar,
.cart-dialogue::-webkit-scrollbar,
.searchedProducts::-webkit-scrollbar,
.dialogue::-webkit-scrollbar {
  width: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.pop-cart-products::-webkit-scrollbar-track,
.shipping-cart-products::-webkit-scrollbar-track,
.cart-modal-container::-webkit-scrollbar-track,
.cart-dialogue::-webkit-scrollbar-track,
.searchedProducts::-webkit-scrollbar-track,
.dialogue::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(211, 211, 211, 0.726);
  border-radius: 10px;
  cursor: grab;
}

.pop-cart-products::-webkit-scrollbar-thumb,
.shipping-cart-products::-webkit-scrollbar-thumb,
.cart-modal-container::-webkit-scrollbar-thumb,
.cart-dialogue::-webkit-scrollbar-thumb,
.searchedProducts::-webkit-scrollbar-thumb,
.dialogue::-webkit-scrollbar-thumb {
  background: rgba(169, 169, 169, 0.493);
  border-radius: 20px;
  height: 5px;
}

.pop-cart-products::-webkit-scrollbar-thumb:hover,
.searchedProducts::-webkit-scrollbar-thumb:hover,
.dialogue.searchedProducts::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.603);
}

/* .scroll-to-top {
  background-color: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;
} */

.element.style{
  background-color: #7dc569 !important;
}


/* Esa */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.thumbs-swiper {
  width: 100%;
  height: 90px;
}

@media (min-width: 768px) {
  .thumbs-swiper {
    height: 520px;
  }
}
